/* Estilos para el contenedor del gráfico */
.container-grafico {
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajusta la altura del gráfico para que se ajuste a la visualización */
.container-grafico canvas {
  width: 100% !important; 
  height: auto !important; 
}

.map-description {
  margin-top: 20px; /* Espacio entre el mapa y la descripción */
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
}